header .navbar>.container .navbar-brand,
header .navbar>.container-fluid .navbar-brand{margin:40px 0 30px;float:left;}
header .navbar{min-height:auto;background:#fff;border:0;padding:0;margin:0;}
header .navbar-brand{padding:0;display:block;height:auto;float:none;}
header a.navbar-brand img{width:100%;height:26px;}
header .navbar-services{margin:40px 0;float:right;}
header .navbar-services i{margin-right:5px;}
header .navbar-services a{position:relative;display:inline-block;margin:0;padding:3px 12px;font-size:14px;color:#434343;margin-left:10px;}
header .navbar-services a:hover{color:#f6a623;}
header .navbar-services img{margin-right:10px;margin-top:-3px;}
header .navbar-services a p{display:inline-block;font-size:12px;margin:0;}
header .navbar-services a.btn{background:#62728b;color:#fff;}
header .navbar-services a.active{color:#f6a623;}
header .navbar-services .dropdown{display:inline;}
header .navbar-services .dropdown .dropdown-menu{left:auto;right:0;margin-top:10px;border:0;}
header .navbar-services ul.dropdown-menu>li>a{margin:0;}
header .navbar-center{margin-top:27px;}
header ul.navbar-center{text-align:center;float:none;}
header ul.navbar-services{text-align:right;float:none;}
header .navbar-nav>li>a{text-transform:uppercase;font-size:14px;color:#454545;font-weight:bold;}
header .navbar-nav>li{float:none;display:inline-block;}
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a.active{color:#f6a623;}
header .lang img{width:16px;}
header .lang .dropdown-menu{min-width:auto;}
header .head-search{background:#d62121;padding:13px 0;height:73px;}
header .head-search .icon .fa{border:3px solid #FFF;padding:11px;border-radius:100%;color:#FFF;font-size:20px;}
header .head-search .search-panel{position:absolute;left:0px;top:0;width:200px;padding:11px;}
header .head-search .search-panel ul.dropdown-menu{margin:0px;margin-top:-12px;left:12px;min-width:auto;width:188px;text-align:left;padding:10px 0;border:0;border-radius:0;}
header .head-search .search-panel select{font-size:14px;border:0;border-right:1px solid #eeeeee;padding:0 20px;color:#454545;box-shadow:none;height:26px;}
header .head-search .preferiti a{display:block;padding:0;text-align:center;}
header .head-search .preferiti .num{font-size:14px;color:#555555;display:inline-block;left:-4px;position:relative;}
header .head-search .bag .num{position:absolute;color:#fff;font-size:12px;background-color:#000;border-radius:20px;width:22px;height:22px;padding:3px;text-align:center;top:0;right:0;}
header .head-search .shop-icons .cart .bag{padding:0 10px;}
header .head-search .shop-icons .cart.dropdown a{display:block;}
header .head-search .shop-icons .cart.dropdown .dropdown-menu>li>a{padding:10px 20px;font-size:16px;}
header .head-search .shop-icons .cart ul.dropdown-cart{min-width:250px;right:30px;left:auto;margin-top:22px;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item{display:block;padding:10px 17px;margin:0;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item img{width:40px;height:40px;object-fit:contain;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item:hover{background-color:#f3f3f3}
header .head-search .shop-icons .cart ul.dropdown-cart li .item:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left{float:left}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left img,
header ul.dropdown-cart li .item-left span.item-info{float:left}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left span.item-info{margin-left:10px}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-left span.item-info span{display:block}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-right{float:right}
header .head-search .shop-icons .cart ul.dropdown-cart li .item-right button{margin-top:10px;}
header .dropdown-menu .divider{margin:1px 0;}
header .head-search .shop-icons p{font-size:12px;color:#676767;margin-bottom:0;}
header .head-search .shop-icons .subtotal{font-size:16px;color:#fff;margin-top:16px;text-align:right;}
header .contact-txt{display:inline-block;font-size:20px;color:#fff;line-height:20px;position:relative;top:-3px;left:10px;}
header .icon-call{display: inline-block;}
header .icon-call .fa{font-size: 40px;color: #FFF;}
header .head-contact .icon40{margin-top:2px;}
header .contact-txt span{font-size:14px;}
header .btn-category a.buttonselect{padding:32px 0 0 50px;background:#454545;font-size:14px;text-transform:uppercase;color:#fff;border-radius:5px 5px 0 0;height:80px;position:absolute;top:-20px;font-weight:bold;width: 100%;z-index: 9999;}
header .btn-category a.buttonselect:hover{opacity:1;}
header .btn-category .dropdown-menu>li>a {padding:11px 20px;font-weight:600;} 
header .btn-category .dropdown-menu>li>a:hover {color:#62728b;background:transparent;}
header .btn-category .dropdown-menu>li {width:100%;display:block;}
header .btn-category .dropdown-menu>li:before {position:absolute;content:"\f105";font-family:"FontAwesome";font-size:15px;right:10px;color:#484848;padding:11px 10px;}
header .btn-category .dropdown-menu>li:last-child {border:0;}
header .btn-category .dropdown-menu {min-width: 0;margin: 60px 0;padding: 0;width: 270px;border-radius: 0;box-shadow: none;border: 2px solid #484848;top:-2px;}
header .btn-category a {display:block;}
header .btn-category i {margin-left:20px;}
header .btn-category a.buttonselect:before{font-family: FontAwesome;content:"\f03a";color:#fff;position:absolute;left:20px;}
header .search-products button.btn-search{font-family: FontAwesome;position:relative;left:-45px;border-radius:50px!important;content:"\f002";top:-1px;height:49px;width:88px;background:#000;}
header .search-products button.btn-search:hover{opacity:1;}
header .search-products .input-big{border-radius:50px;font-size:14px;border:0;}
input,
select,
textarea{-moz-appearance:none;-webkit-appearance:none;height:40px;box-shadow:none;border:2px solid #eee;border-radius:5px;padding:0 20px;}
input.form-control,
textarea.form-control{border:2px solid #eeeeee;font-size:18px;color:#454545;box-shadow:none;margin-bottom:15px;border-radius:5px;}
input.input-big{height:48px;padding:10px 0px 10px 200px;font-size:18px;color:#454545;border:2px solid #eeeeee;border-radius:5px 0 0 5px;width:100%;}
input[type=checkbox]{-moz-appearance:checkbox;-webkit-appearance:checkbox;height:auto;}
input[type=radio]{-moz-appearance:radio;-webkit-appearance:radio;height:auto;}
header .search-products button.btn-search{position:relative;left:-45px;border-radius:50px!important;top:-1px;height:49px;width:88px;}
header .search-products button.btn-search .fa{font-size: 20px; color: #FFF;}

/* Smartphone */
@media only screen and (max-width:767px) and (min-width:320px){
header .navbar{padding:10px 0 0;min-height:auto;}
header .head-top{padding:0;}
header .navbar-default .navbar-toggle{border:0;margin-right:0;padding:5px 10px 10px;}
header .navbar>.container .navbar-brand,
header .navbar>.container-fluid .navbar-brand{margin:15px;}
header .navbar-services{width:100%;float:none;margin:20px 0;padding:0;}
header .navbar-services a{width:49%;text-align:center;padding:10px 0;margin:0;}
header .head-search{height:50px;margin-top:0;padding:0;}
header .btn-category{margin:5px 0;}
header .btn-category a.buttonselect{top:0;width:52px;height:40px;padding:2px;border-radius:5px;}
header .btn-category a.buttonselect:before{left:17px;font-size:20px;top:6px;}
header .btn-category a.buttonselect span {display: none;}
header .btn-category .dropdown-menu{margin-top:48px;}
header .btn-category .dropdown-menu>li>a{padding:10px;}
form.search-products{margin-top:5px;}
header .head-search .search-panel{display:none;}
header .preferiti .icon img,
header .bag .icon img{width:30px;height:30px;margin:10px 0;}
header .head-search .shop-icons .cart ul.dropdown-cart{margin-top:0;right:0;}
header .head-search .shop-icons .cart ul.dropdown-cart li .item{padding:5px 15px;}
header .head-search .shop-icons .cart .bag {padding: 0 10px;}
header .head-search .icon .fa {font-size: 13px;margin-top: 5px;border: 2px solid #FFF;}
header .search-products .input-big{padding:10px;height:40px;font-size:12px;}
header .search-products button.btn-search {height: 42px;width: 70px;}
header .head-search .bag .num {top: 4px;right: 18px;}
}
@media only screen and (min-width:768px) and (max-width:959px){
  /* Mobile Nav Toggle */
header .navbar-header{float:none;}
header .head-search {padding:0;}
header .head-top {padding:0;}
header .navbar>.container .navbar-brand,header .navbar>.container-fluid .navbar-brand {margin:0;}
header .navbar-left, header .navbar-right{float:none!important;}
header input.input-big {padding:10px}
header .navbar-toggle{display:block;}
header .navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);}
header .navbar-fixed-top{top:0;border-width:0 0 1px;}
header .navbar-collapse.collapse{display:none!important;}
header .navbar-nav{float:none!important;margin-bottom:7.5px;}
header .navbar-nav>li{float:none;}
header .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;}
header .navbar-default .navbar-toggle {border:0;margin-right:0;padding:25px 10px 10px;}
header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background:transparent;}
header .navbar-default .navbar-toggle .icon-bar {background-color:#454545;}
header .collapse.in{display:block!important;}
  /* Mobile Nav Toggle */
header .navbar {padding:0;min-height:160px;}
header .btn-category a.buttonselect span {display:none;}
header .btn-category a.buttonselect {width: 60px;padding: 0;top: -18px;left: -15px;border-radius: 5px;height: 72px;}
header .btn-category a.buttonselect:before {left: 16px;top: 26px;}
header .btn-category .dropdown-menu {margin:55px -15px;}
header .btn-category {margin:5px 0;}
header a.navbar-brand img {width:175px;height:70px;}
header .head-search .search-panel {display:none;}
header .navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0;}
header .nav>li>a {padding:10px 5px;}
header ul.navbar-center {text-align:left;}
header .navbar-nav>li>a {font-size:12px;padding:10px 5px;}
header .navbar-services {text-align:right;margin-top:5px;}
header .navbar-center {margin-top:0;}
header .head-search {margin-top: 5px;padding:14px;}
header .head-search .shop-icons .subtotal {font-size:15px;text-align:right;}
header .head-search .preferiti .num {display:none;}
}
/* Tablet Landscape */
@media only screen and (min-width:960px) and (max-width:1199px){
header .navbar>.container .navbar-brand, header .navbar>.container-fluid .navbar-brand {margin:20px 0;}
header .navbar {padding:0;min-height:160px;}
header .navbar-center {margin-top:35px;}
header .nav>li>a {padding:10px 5px;}
header .navbar-services {margin:37px 0 0;}
header .navbar-services a {margin:0;}
header .btn-category a.buttonselect {font-size:14px;padding:33px 15px 15px 52px;}
header .btn-category a.buttonselect span {display:none;}
header .navbar-services a {text-align:right;}
header a.navbar-brand img {width:175px;height:70px;}
header .navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0;}
header .nav>li>a {padding:10px 5px;}
header .navbar-nav>li>a {font-size:12px;padding:10px 5px;}
header .head-top {padding:0;}
header .head-search {margin-top:5px;padding:13px 0;}
header .head-search .preferiti .num {display:none;}
}