<header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

        </div>
    </nav>
    <div class="head-search">
        <div class="container">
            <div class="row">

                <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 head-contact">
                    <div class="icon-call"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="contact-txt">
                        <span>Contact us at</span><br>0335-0015285
                    </div>
                </div>
                <div class="col-xs-7 col-sm-5 col-md-6 col-lg-6 pr0">
                    <!-- <form action="" id="" class="search-products">

                        <div class="input-group">

                            <input class="input-big" type="text" name="x" placeholder="What are you looking for?">

                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </form> -->
                    <div class="contact-txt" style="text-align: center; margin-top: -12px !important;">
                        <h1>Micro Agility Pizza Service</h1>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                    <div class="shop-icons">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 preferiti text-right">
                                <a routerLink='/' class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">
                                    <div class="bag">
                                        <div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-6 cart dropdown text-right">
                                <a routerLink='/cart' class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">
                                    <div class="bag">
                                        <div class="icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></div>
                                        <div class="num">{{cartLength}}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>